/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
  margin-top: 10px;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.content {
  color: #c3c3c3;
  text-align: center;
}

.btn-warning {
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  width: 150px;
}

.btn-email {
  width: auto;
}
